<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoao.mapper.ProcessMapper">


    <select id="selectProcessVo" resultType="com.aoao.vo.process.ProcessVo">
        SELECT
        process.id, process.process_code, process.title, process.description,
        process.form_values, process.process_instance_id, process.current_auditor,
        process.status, process.create_time, process.update_time,
        template.id AS processTemplateId, template.name AS processTemplateName,
        type.id AS processTypeId, type.name AS processTypeName,
        user.id, user.name AS name
        FROM oa_process AS process
        LEFT JOIN oa_process_template AS template ON process.process_template_id = template.id AND template.is_deleted = 0
        LEFT JOIN oa_process_type AS type ON template.process_type_id = type.id AND type.is_deleted = 0
        LEFT JOIN sys_user AS user ON process.user_id = user.id AND user.is_deleted = 0
        WHERE process.is_deleted = 0
        <if test="dto.keyword != null and dto.keyword != ''">
            AND (
            process.process_code LIKE CONCAT('%',#{dto.keyword},'%')
            OR process.title LIKE CONCAT('%',#{dto.keyword},'%')
            OR user.phone LIKE CONCAT('%',#{dto.keyword},'%')
            OR user.name LIKE CONCAT('%',#{dto.keyword},'%')
            )
        </if>
        <if test="dto.userId != null and dto.userId != ''">
            AND process.user_id = #{dto.userId}
        </if>
        <if test="dto.status != null and dto.status != ''">
            AND process.status = #{dto.status}
        </if>
        <if test="dto.createTimeBegin != null and dto.createTimeBegin != ''">
            AND process.create_time >= #{dto.createTimeBegin}
        </if>
        <if test="dto.createTimeEnd != null and dto.createTimeEnd != ''">
            AND process.create_time &lt;= #{dto.createTimeEnd}
        </if>
        ORDER BY process.id DESC
    </select>

    <select id="selectProcessVoByProcessIds" resultType="com.aoao.vo.process.ProcessVo">
        SELECT
        process.id,
        process.process_code,
        process.title,
        process.description,
        process.form_values,
        process.process_instance_id,
        process.current_auditor,
        process.status,
        process.create_time,
        process.update_time,

        template.id AS processTemplateId,
        template.name AS processTemplateName,

        type.id AS processTypeId,
        type.name AS processTypeName,

        user.id AS userId,
        user.name AS name

        FROM oa_process AS process
        LEFT JOIN oa_process_template AS template
        ON process.process_template_id = template.id AND template.is_deleted = 0
        LEFT JOIN oa_process_type AS type
        ON template.process_type_id = type.id AND type.is_deleted = 0
        LEFT JOIN sys_user AS user
        ON process.user_id = user.id AND user.is_deleted = 0

        WHERE process.is_deleted = 0

        <if test="username != null and username != ''">
            AND process.current_auditor LIKE CONCAT('%', #{username}, '%')
        </if>

        <if test="ids != null and ids.size() > 0">
            AND process.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </select>


</mapper>
